<div id="<%= dom_id friend %>">
  <div>
    <strong>Name:</strong>
    <%= friend.name %>
  </div>

  <div>
    <strong>Email:</strong>
    <%= friend.email %>
  </div>

  <div>
    <strong>Phone:</strong>
    <%= friend.phone %>
  </div>

</div>
