/* app/assets/stylesheets/tasks.css */

.tasks-list {
  list-style-type: none;
  padding: 0;
}

.tasks-list li {
  padding: 10px;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tasks-list li:nth-child(odd) {
  background-color: #f9f9f9;
}

.tasks-list a {
  margin-left: 10px;
  text-decoration: none;
  color: #007bff;
}

.tasks-list a:hover {
  text-decoration: underline;
}
.tasks-list li .completed {
  text-decoration: line-through;
  color: gray;
}
